import { FC } from 'react';
import styles from './{{pascalCase name}}.module.css';

type Props = {};

export const {{pascalCase name}}: FC<Props> = (props) => {
  return (
    <div className={styles.modules}>
      <h1>{{pascalCase name}} Component</h1>
    </div>
  );
};
